<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'profile.jpeg' %>
  </div>

  <div id="content">
    <h1>This is about the author</h1>
    <p>Sed libero enim sed faucibus turpis in eu. Vel elit scelerisque mauris pellentesque pulvinar. 
    Etiam tempor orci eu lobortis elementum nibh tellus. Leo vel orci porta non. Tortor vitae purus 
    faucibus ornare. Mi tempus imperdiet nulla malesuada pellentesque elit. Et netus et malesuada fames 
    ac. Tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Amet consectetur adipiscing
     elit duis tristique sollicitudin nibh sit. Lorem ipsum dolor sit amet consectetur adipiscing elit 
     pellentesque habitant. Tristique magna sit amet purus. At quis risus sed vulputate odio ut enim blandit 
     volutpat. Risus pretium quam vulputate dignissim suspendisse in est ante. </p>
  </div>
</div>