<div class="page_wrapper">
  <h1>Latest Posts on our Page</h1>

  <% @posts.each do |p| %>
    <div class="post_wrapper">
  		<h2 class="title"><%= link_to p.title, p %></h2>
  		<p class="body"><%= truncate(p.body, length:100) %></p>
  		<p class="date"><%= time_ago_in_words(p.created_at) %> ago</p>
  	</div>
  <% end %>
</div>